*{
    margin:0;
    padding:0;
}
.main{
    background-image: url("https://th.bing.com/th?id=OIP.avxhtQqr5FoubGjq4sIXugHaEo&w=316&h=197&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2");
     background-size:cover;
     background-position:center;
     background-repeat: no-repeat;

}
.logo{
    color:#ff7200;
    font-size: 35px;
    padding-left:20px ;
     padding-top: 30px;
}
.dropdown-menu {
    font-size: 15px;
    padding: 5px 0;
    padding-top: 5px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    padding-top: 0.25rem;
    padding-right: 1.5rem;
    padding-bottom: 0.25rem;
    padding-left: 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
} 
.menu{
    width:0px;
    height: 50px;
    float: left;
    display: flex;
    margin-top: -10px;
    margin-left: 180px;
    font-size: 25px;
    font-style:italic;
}
.menu a{
    text-decoration:none;
} */
 ul{
    display: flex;
    align-items: center;
    float: left;
    justify-content: center;
}
ul li{
    margin-left: 240px;
    margin-top: -20px;
    list-style: none;
    font-size: 20px;
}
ul li a{
    color:#fff;
}
ul li a:hover{
    color:#ff7200;
}
.search{
    margin-left: 900px;
    width: 400px;
    margin-top: -28px;
}
.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 35px;
    background: transparent;
    border: 2px solid #ac1717;
    color:#fff;
    border-top-right-radius: 55px;
    border-bottom-left-radius: 55px;

}
.btn{
    width: 80px;
    height: 30px;
    background: #ff7200;
    /* border: 2px solid #ff7200; */
    color:#fff;
}
.btn:focus{
    outline:none;

}
.srch:focus{
    outline: none;
}
.content{
    width: 3333px;
    height: 3554px;
    padding-bottom: 33px;
    padding-left: 0px;
    letter-spacing: 5px;
    margin-top: 30px;
    margin-left: 59px; 
    color:white;
}
.content h1 span{
    color: #ff7200;
    letter-spacing: 2px;
}
.par{
    color:beige;
}
strong{
    margin-left: -120px;
    margin-top: 34px;
}
.bdiv{
    width:44px;
    height: 43px;
    margin-bottom: 1px;
    margin-left: 10px;
}
.cn {
    width:100px;
    height: 20px;
    border-radius: 15px;
} 
 .cn a{
    background:#ff7200;
    text-decoration: none;
    color:black;
    font-size: 15px;
}


